.card__description {
   padding: 30px;
}

@media screen and (min-width: 768px) {
   .main {
      display: flex;
      flex-direction: row;
      background-color: white;
      border-radius: 32px;
   }
   .card__description {
      padding-inline: 40px;
   }
}