@font-face {
  font-family: 'HankenGrotesk';
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ECF2FF;
  font-family: 'HankenGrotesk', sans-serif;
}


